// Yellow palette
$y-300: #fde047;
$y-400: #facc15;
$y-500: #eab308;
$y-600: #ca8a04;
$y-800: #854d0e;
$y-900: #713f12;
$y-950: #422006;

// Zinc
$z-800: #27272a;
$z-900: #18181b;
$z-950: #09090b;

// Transitions
$t-fast: 0.2s ease;
$t-med: 0.4s ease;
$t-slow: 0.65s ease;

// Layout
$nav-h: 56px;
